.footer{
    height: calc(100vh - 20vh - 65vh);
    background-color: rgb(172, 8, 117);
     display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    justify-content: center;
}